*.cache
*.dll
*.exe
*.pdb
/build/
*.suo
*.user
_ReSharper.*/
bin/
obj/
Debug/
Release/
*.sdf
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
*.json
*.vs
obj/*
bin/*
bin/Debug/*
*feature.cs